@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
    --main-color: #15768e
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 16px;
}

body {
    background: #fff;
}

input,
button {
    outline: none;
    border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


button {
    cursor: pointer;
}

.shopping-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.shopping-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-block: 34px;
    gap: 16px;
    align-items: end;
}

.shopping-form .shopping-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 2;
    width: 260px;

}

.shopping-form .shopping-div label {
    color: var(--main-color);
    font-size: 18px;
}

.shopping-form input {
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    min-height: 50px;
    width: 100%;
}

.shopping-form input::placeholder {
    color: var(--main-color);
}

.shopping-form button {
    min-height: 50px;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    background: var(--main-color);
    border-radius: 5px;
    flex-grow: 1;
}

.shopping-section {
    width: 100%;
    margin-top: 2rem;
    overflow: auto;
}

.shopping-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 700px;
    display: none;
}

.shopping-table th,
.shopping-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    text-transform: capitalize;
}

.shopping-table th {
    background-color: #f2f2f2;
}

.btn-edit,
.btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.btn-edit i,
.btn-delete i {
    font-size: 16px;
}


.shopping-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
}

.shopping-card .shopping-name {
    color: #43484D;
    text-align: center;
}

.shopping-btns {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.shopping-btns button {
    font-size: 16px;
}

.btn-edit {
    color: #28A745;
}

.btn-delete {
    color: #DC3545;
}

.total-div {
    display: none;
    justify-content: end;
    padding: 16px 32px;
    min-width: 700px;
}

.shopping-total {
    font-size: 18px;
    font-weight: 600;
}

.shopping-total span {
    font-size: 16px;
}

.notFound {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

@media screen and (max-width:767px) {
    .shopping-form {
        margin-block: 24px;
        gap: 10px;
    }

    .shopping-form .shopping-div label {
        font-size: 14px;
    }

    .shopping-form input {
        padding: 8px 14px;
        border-radius: 6px;
        font-size: 14px;
        min-height: 40px;
    }

    .shopping-form button {
        min-height: 40px;
        font-size: 16px;
    }

    .notFound {
        font-size: 20px;
    }
}